{% load i18n %}
{% comment %}
email_anonymous.html -- Implements send to friend for not logged in users.

Why two templates (for authenticateed vs. anonymous)? Simple: if your site 
allows logins, you should add promotional content to encourage users to create 
an account.
{% endcomment %}

{% extends "dialog.html" %}
{% block title %}{% trans "Email Link" %}{% endblock title %}
{% block content %}
   <h1>{% trans "Email Link" %}</h1>
    <p>
    {% trans "Send link to a friend:" %}
    </p>
    <form action="" method="post">
    {% csrf_token %}
    {% include 'includes/form-error-highlight.html' %}
    <button type="submit" class="btn primary" value="submit">{% trans "submit" %}</button>
	  &nbsp;<button type="reset"class="btn">{% trans "reset" %}</button>
    </form>
{% endblock content %}
{% block promo %}
  <p>Create an account and keep track of who you have shared with.</p>
{% endblock promo %}