{% load i18n %}
{% comment %}
bookmarklet.html -- implements a simple bookmarklet
{% endcomment %}
<a href="javascript:
    var mj_url = document.location;
    mj_post=document.createElement('form');
    mj_post.method='get';
    mj_post.action='{% url app.api %}';
    mj_postValue = document.createElement('input');
    mj_postValue.setAttribute('name','url');
    mj_postValue.setAttribute('value',mj_url);
    mj_postValue.setAttribute('type','hidden');
    mj_post.appendChild(mj_postValue);
    document.body.appendChild(mj_post);
    mj_post.submit();
    document.body.removeChild(mj_post);
    ">{% trans "MySocialShare" %}</a>