{% extends "base.html" %}
{% load i18n %}
{% comment %}
home.html -- example app home page
{% endcomment %}
{% block content %}
<h2>{% trans "My-Social-Share Bookmarklet Example App" %}</h2>
<p>{% trans "Drag this link to your browser's toolbar:" %} {% include 'includes/bookmarklet.html' %}.</p>
<p><strong>{% trans "To share, browse to the page you want to share, and click the MySocialShare link on your bookmarks bar." %}</strong></h3>
<p><i>{% trans "For this app, you'll have to have an oauth api key and consumer key set in settings.py." %}</i></p>
{% endblock content %}
